/* ================= HERE RESPONSIVE CSS ================= */

@media only screen and (max-width: 1200px){
    .row{
        margin: 0 2rem;
    }
    .header-section{
        height: 95vh;
    }
    .contact-section form{
        width: 100%;
    }
  }
  @media only screen and (max-width: 1024px){
    html{
        font-size: 58.5%;
    }
    .main-nav{
        display: none;
    }
    .client-review p{
        font-size: 1.7rem;
    }
    .box p{
        font-size: 1.5rem;
    }
    .about-sectio{
        text-align: center;
    }
    .about-section img{
        display: block;
        float: none;
        margin: auto;
        margin-bottom: 1.5rem;
    }
    .client-review{
        text-align: center;
    }
    .about-section .span_1_of_2:nth-child(3),
    .about-section .span_1_of_2:nth-child(4){
        margin-top: 3rem;
    }
    .mobile-menu span{
        display: block;
    }
  
  }
  @media only screen and (max-width: 768px){
    html{
        font-size: 50.5%;
    }
    h1{
        font-size: 4rem;
    }
    .header-section{
        height: 50vh;
    }
    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3){
        margin-left: 0;
    }
    .box p{
        font-size: 1.9rem;
    }
  }
  @media only screen and (max-width: 480px){
    .header-section{
        height: 60vh;
    }
    h1{
        font-size: 2.8rem;
        line-height: 3.6rem;
    }
    h2{
        font-size: 2.5rem;
    }
    .header-content{
        top: 10rem;
    }
    .span_1_of_4{
        width: 100%;
    }
    .little-description{
        width: 100%;
        font-size: 1.7rem;
    }
    .portfolio-section .span_1_of_2:nth-child(2){
        margin-top: 5rem;
    }
    .about-section .span_1_of_2:nth-child(2){
        margin-top: 2.5rem;
    }
    .footer-social-icons ul li{
        margin: .5rem 1.5rem;
    }
  }
  
  
  